.wrapper {
	max-width: 1100px;
	margin: 0px auto;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	border-top: 5px solid $dark-grey;
}

// Flexbox responsive display for matches
.draw-list section, .final-list {
	padding: 1em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.hidden {
	display: none;
}
