$text-heading-color: #E7F4F6;
$text-body-color: #222424;
$background: #fdfffc;
$button-colour: #efbd7f;
$highlight: #f49b42;

$cream: $text-heading-color;
$dark-grey: $text-body-color;
$pale-green: $background;
$pale-orange: $button-colour;
$dark-orange: $highlight;

.wrapper {
	background-color: $pale-green;
}

body {
	font-family: 'Nunito', sans-serif;
	font-size: 100%;
	line-height: 1.5;
	text-align: center;
}

h1 {
	color: $cream;
	font-size: 3.8em;
}

h2, h3, p {
	color: $dark-grey;
}

h2 {
	font-size: 2em;
	margin-top: 1em;
}

h3 {
	font-size: 1.5em;
}

button, input {
	font-size: 100%;
}
